openapi: 3.2.0
info:
  title: Simon Data Audience Contacts API
  description: The Simon Audience API returns a single Simon Data contact profile so marketers can personalise content at request time. Look a contact up with an identity string in the form identifier:id (simonid, email, email-hash, primary-subscriber-key for Salesforce Marketing Cloud, riid for Responsys, or zendeskid for Zendesk) and a comma-separated list of the contact fields to return. Only fields configured as content in the Simon account appear in the response. The Audience API is an optional premium feature; access is arranged with a Simon account manager. Authentication is a bearer token issued by a Client Solutions Manager, and the API is intended for server-side use only.
  version: '2.0'
  contact:
    name: Simon Data Support
    url: https://docs.simondata.com/reference/getting-started
  x-api-id: simon-data-audience
servers:
- url: https://api.simondata.com/audience/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Contacts
  description: Contact profile lookup.
paths:
  /contacts:
    get:
      summary: Get a contact
      description: Retrieve contact information to help personalise a customer's experience. Returns a single contact object; only one contact can be returned per request.
      operationId: get-a-contact
      parameters:
      - name: identity
        in: query
        description: Identifier and ID for the contact requested, in the format identifier:id
        schema:
          type: string
          default: email:tom@hello.com
        required: true
      - name: fields
        in: query
        description: 'List of Contact fields that should be returned in the response. For example: fields=first_name,flow_variant_membersip'
        schema:
          type: string
          default: fields=first_name,flow_variant_membership
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"success\",\n  \"contact\": {\n    \"email_address\": \"tom@hello.com\",\n    \"first_name\": \"Tom\",\n    \"address_city\": \"New York\",\n    \"address_state\": \"NY\",\n    \"flow_variant_membership\": [\n      \"142309\",\n      \"203850-Variant A\"\n    ],\n    \"total_lifetime_value_jde\": \"$241.56\"\n  }\n}"
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  contact:
                    type: object
                    properties:
                      email_address:
                        type: string
                        example: tom@hello.com
                      first_name:
                        type: string
                        example: Tom
                      address_city:
                        type: string
                        example: New York
                      address_state:
                        type: string
                        example: NY
                      flow_variant_membership:
                        type: array
                        items:
                          type: string
                          example: '142309'
                      total_lifetime_value_jde:
                        type: string
                        example: $241.56
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
      tags:
      - Contacts
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token issued by a Simon Data Client Solutions Manager. Send it as Authorization: Bearer <token>. Documented at https://docs.simondata.com/reference/getting-started'
